body {
  background-color: #333;
}

canvas {
  margin-top: 20px;
  border: 1px solid #000;
}

.pixel {
}


.pixel:hover {
  background-color: white;
  background-color: white !important;
}

.buffer {
  position: relative;
  margin: 50px auto;
}

.info {
  font-family: 'helvetica neue', georgia;
  font-weight: 900;
  text-shadow: 0 0 3px yellow;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  top: 32%;
  left: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
